<div class="thumbnail">
  <img src="http://placehold.it/820*230">
  <div>
    <h4 class="pull-right">{{product.price}}</h4>
    <h4>{{product.title}}</h4>
    <p>{{product.desc}}</p>
  </div>
  <div>
    <p class="pull-right">{{comments.length}}</p>
    <p>
      <app-stars [rating]="product.rating"></app-stars>
    </p>
  </div>
</div>

<div class="well">
  <div>
    <button class="btn btn-success" (click)="isCommentHidden =! isCommentHidden">发表评论</button>
  </div>

<!-- [(rating)]双向绑定 ，当输出是xxxChange  输入是xxx 的时候才能用[(rating)]，参考[(ngModel)]，
  否则用普通的 （xxxChange）事件绑定 -->
  <div [hidden]="isCommentHidden">
    <div><app-stars [(rating)]="newRating" [readonly]="false" ></app-stars></div>
    <div>
      <textarea [(ngModel)]="newComment"></textarea>
    </div>
    <div>
      <button class="btn" (click)="addComment()">提交</button>
    </div>
  </div>

  <div class="row" *ngFor="let comment of comments">
    <hr>
    <div class="col-lg-12">
      <app-stars [rating]="comment.rating"></app-stars>
      <span>{{comment.user}}</span>
      <span class="pull-right">{{comment.timestamp}}</span>
      <p></p>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
