<p>
  <span *ngFor="let state of stars; let i = index;" class="glyphicon glyphicon-star "
  [class.glyphicon-star-empty]="state" (click)="chickStar(i)">
<!--属性表达式 .glyphicon-star-empty的样式有无 由state-->
  </span>
  <span>{{rating |number: '1.1'}}星</span>
</p>
