<form [formGroup]="forModel" (ngSubmit)="onSearch()" novalidate>
  <div class="form-group" [class.has-error]="forModel.hasError('minlength', 'title')">
    <label for="productTitle">商品名称:</label>
    <input type="text" formControlName="title" id="productTitle" placeholder="商品名称" class="form-control">
    <span class="help-block" [class.hidden]="!forModel.hasError('minlength', 'title')">
      请至少输入三个字
    </span>
  </div>
  <div class="form-group" [class.has-error]="forModel.hasError('positiveNumberValidator', 'price')">
    <label for="productPrice">商品价格:</label>
    <input type="number" formControlName="price" id="productPrice" placeholder="商品价格" class="form-control">
    <span class="help-block" [class.hidden]="!forModel.hasError('minlength', 'title')">
      请输入正数
    </span>
  </div>
  <div class="form-group">
    <label for="productCategory">商品类别:</label>
    <select formControlName="category" id="productCategory" class="form-control">
      <option value="-1">全部分类</option>
      <option *ngFor="let category of categorices" [value]="category">{{category}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">搜索</button>
  </div>
</form>
